.dropdown-container {
    /* width: 150px; */
    position: relative;
}

.dropdown-list {
    width: 500px;
    padding: 0px !important;
    position: absolute;
    background: white;
    /* width: 166px;
    max-height: 300px; */
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 1000;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 18px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgb(0, 0, 0, 0.15);
    border-radius: 4px;
    max-height: 284px;
    min-width: min-content;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    cursor: pointer;

    right: 0;
    top: 100%;
}

.dropdown-item {
    border-bottom: 1px solid #d9d9d9;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-label {
    /* color: black; */
    font-size: 14px;
    font-weight: 600;
}

.dropdown-status {
    color: #757575;
    font-size: 12px;
    font-weight: 500;
}

.dropdown-item:hover {
    background-color: #f2f2f2;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.dropdown-name {
    display: flex;
    align-items: center;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
}

