.tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    // border-bottom: 1px solid blue;
    border: 1px solid #969696;
    border-radius: 5px;
    margin-bottom: 15px;
}

.tabs > li {
    // margin: 0 1em;
    cursor: pointer;
    text-align: center;
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #757575;
}

.current {
    color: #757575;
    font-weight: bold;
    border: 1px solid #0050b3;
    background-color: #d7dcff;;
}

.content {

}